html{ height: 100%; }
body{ min-width: 320px; max-width: 414px; height: 100%;color: #ffffff;margin:0 auto;}

/*---------------------page-------------*/
.page{
    width: 100%;
    height: 100%;
    background: url(../img/bg2.png) no-repeat;
    background-size: 100% auto;
}
.logo{
    position: relative;
    width: 100%;
    height: 88.5px;
    padding-left: 13px;
    box-sizing: border-box;
}
.logo::before{
    content: '';
    display: block;
    float: left;
    width: 71px;
    height: 100%;
    background: url(../img/欧冠盛宴_02.png) no-repeat;
    background-size: 71px 100%;
}
.logo .title{
    float: left;
    margin: 33px 0 0 14px;
    font-size: .6875rem;
}
.content{
    width: 100%;
    padding: 1.564625% 10.9375% 0;
    box-sizing: border-box;
    font-style: oblique;
}
.content h1{
    position: relative;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 1.80625rem;
    word-spacing: 5px;
    font-weight: 900;
    border-bottom: 1px solid #ffffff;
    text-align: center;
}
.content h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: -webkit-linear-gradient(bottom left,rgba(142,142,142,0.1) 0%,rgba(255,255,255,0) 50%,rgba(142,142,142,0.2) 100%);
                linear-gradient(bottom left,rgba(142,142,142,0.1) 0%,rgba(255,255,255,0) 50%,rgba(142,142,142,0.2) 100%);
}
.content table{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.tableTitle{
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
    margin-top: 10px;
}
.tableTitle li{
    float: left;
    font-size: 0.8125rem;
    font-weight: bold;
    text-align: center;
    font-style: oblique;
}
.tableTitle li:first-child{
    margin-left: 15%;
}
#table td{
    font-size: 0.58125rem;
    line-height: 20px;
}
#table .number{
    font-size: 1.0875rem;
}
.content .kong{
    width: 15%;
    text-align: left;
}
.content .name{
    width: 20%;
}
.content .phone{
    width: 35%;
}
.content .prize{
    width: 30%;
}
.content .fanye{
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: .7125rem;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.content .fanye .up{
    padding-right: 13px;
}
.content .fanye .down{
    padding-left: 13px;
}
.content .style{
    display: block;
    transform-origin: bottom left;
    width: 91%;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.0625rem;
    text-decoration: none;
    outline: none;
    margin-top: 9px;
    border: 1px solid #ffffff;
    transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
}
.content .special{
    background: -webkit-linear-gradient(-81deg,rgba(0,0,0,1) 0%,rgba(51,51,51,1) 50%,rgba(0,0,0,1) 51%);
linear-gradient(-81deg,rgba(0,0,0,1) 0%,rgba(51,51,51,1) 50%,rgba(0,0,0,1) 51%);
}
.content .style span{
    display: inline-block;
    transform: skew(30deg);
    -webkit-transform: skew(30deg);
}
@media screen and (min-width: 360px){
    .content{ padding: 14.564625% 10.9375% 0;}
    .content article{ line-height: 26px; }
}
@media screen and (min-width: 375px){
    .content{ padding: 15.564625% 10.9375% 0;}
    .content article{ line-height: 36px; }
}
@media screen and (min-width: 414px){
    .content{ padding: 17.564625% 10.9375% 0;}
    .content article{ line-height: 36px; }
}