*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #333;
}
ul,ol,li{
	list-style: none;
}
body{
	font-family:"微软雅黑";
	font-size: 14px;
	color:#333;
	display: none;
	
}
body,html{
	width: 100%;
	height: 100%;
}
.wrap{
	width: 100%;
}
.header{
	width: 640px;
	height: 90px;
	background-color:#0259C3;
	overflow: hidden;
	position: relative;
}
.logo{
	width: 130px;
	height: 48px;
	margin-left: 25px;
	margin-top: 20px;
	float: left;
}
.verticalLine{
	height: 38px;
	width: 0px;
	margin-left: 10px;
	margin-top: 27px;
	border-left:1px solid #95B9E6;
	float: left;
}
.introduce{
	position: absolute;
	left: 180px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	float: left;

}
.beingWeb{
	font-size: 18px;
	color: #fff;
}
.company{
	font-size: 14px;
	color: #fff;
}
.nav{
	width: 640px;
	height: 65px;
	background-color: #E9E9E9;
}
.nav li{
	float: left;
	width: 90px;
	height: 62px;
	margin: 0px 8px;
	line-height: 65px;
	text-align: center;

}
.nav a{
	font-size: 24px;
	color: #333;
}
.current{
	border-bottom: 3px solid #0259C3;
}
.nav .current a{
	color: #0159C3;
}