*{margin:0px; padding:0px;font-family:"微软雅黑";}
html,body{width:100%; height:100%;}
body{
	display: none;
	
}
ul,ol,li{
	list-style: none;
}
a{text-decoration: none;color:black;}
.header{
	width: 640px;
	height: 90px;
	background-color:#0259C3;
	overflow: hidden;
	position: relative;
}
.logo{
	width: 130px;
	height: 48px;
	margin-left: 25px;
	margin-top: 20px;
	float: left;
}
.verticalLine{
	height: 38px;
	width: 0px;
	margin-left: 10px;
	margin-top: 27px;
	border-left:1px solid #95B9E6;
	float: left;
}
.introduce{
	position: absolute;
	left: 180px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	float: left;
}
.beingWeb{
	font-size: 18px;
	color: #fff;
}
.company{
	font-size: 14px;
	color: #fff;
}
.nav{
	width: 640px;
	height: 65px;
	background-color: #E9E9E9;
}
.nav li{
	float: left;
	width: 90px;
	height: 62px;
	margin: 0px 8px;
	line-height: 65px;
	text-align: center;
}
.nav a{
	font-size: 24px;
	color: #333;
}
.current{
	border-bottom: 3px solid #0259C3;
}
.nav .current a{
	color: #0159C3;
}
/* 导航结束 */
	.controller{
		width:640px;
		height:1180px;
	}
	
	.th-sele{
		color:#0259c3;
		border-bottom:6px solid #0259c3;
	}
	.cont-title{
		margin-top:20px;
		margin-left:15px;
		margin-bottom:15px;
		border-left:4px solid orange;
		padding-left:5px;
	}
	.content dl{
		width:590px;
		height:132px;
		margin:0 auto;
		border-bottom:2px solid #e5e5e5 ;
		overflow:hidden;
		padding:20px;
	}
	.content dt{
		width: 112px;
		height:112px;
		float:left;
	}
	.content dd{
		width:468px;
		float:left;
		margin-left:10px;
		margin-top:10px;
	}
	.th-01{
		background: url(../img/sz-xuying.png) no-repeat;
	}
	.th-02{
		background: url(../img/sz-taoguorong.png) no-repeat;
	}
	.th-03{
		background: url(../img/sz-guotanwei.png) no-repeat;
	}
	.th-04{
		background: url(../img/zengweijun.png) no-repeat;
	}
	.th-05{
		background: url(../img/sz-yanyuanyuan.png) no-repeat;
	}
	.famous01{
		border-top:2px solid #e5e5e5;
	}